<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="mySidenav" class="sidenav">
  <div id = "user-name">
    <a>Welcome {{loggedUserName}} <i class="material-icons" style="font-size: 50px;">account_box</i> </a>
  </div>
  <a href="/bank-accounts">Current bank accounts <i class="material-icons" style="font-size: 50px;">account_balance</i></a>
  <a href="#">Open Bank Account  <i class="material-icons" style="font-size: 50px;">control_point</i></a>
</div>

<div id="main">
  <span style="font-size:50px;cursor:pointer" onclick="#">&#9776;</span>
</div>
</body>


