<div class="container">
  <div class="sidebar">
    <ul>
      <li class="logo">
        <a href="#">
          <img src="https://cdn4.iconfinder.com/data/icons/top-search-3/128/_Bank_bank_account_banking_-128.png"/>
        </a>
      <li>
      <li class="current">
        <a href="/customer-panel">Home</a>
      </li>

      <li class="admin">
        <a href="#" title="admin-only" class="tooltip-right"
           data-tooltip="Only available when you completed all the profiling sections"><span class="lock"></span> My Objectives</a>
      </li>

      <li class="spacer">Profiling
        <div class="hr"></div>
      </li>
      <li class="has-children">
        <a href="/customer-profiling">Fill your profile</a>
        <ul class="sub-menu">
          <li>
            <a href="/customer-profiling">General profiling</a>
          </li>
          <li>
            <a href="/income">Incomes/Liabilities</a>
          </li>
          <li>
            <a href="/estates">Estates/Companies</a>
          </li>
        </ul>
      </li>

      <li class="spacer">Statistics
        <div class="hr"></div>
      </li>
      <li class="has-children">
        <a href="/statistics">Review Account Statistics</a>
      </li>
      <li class="has-children">
      </li>
      <li class="has-children">
        <a href="#">Financial Instruments</a>
        <ul class="sub-menu">
          <li>
            <a href="#">Stocks</a>
          </li>
          <li>
            <a href="#">Forex</a>
          </li>
          <li>
            <a href="#">Cryptocurrencies</a>
          </li>
        </ul>
      </li>
      <li class="spacer">
        <div class="hr"></div>
      </li>
      <li>
        <a href="#" class="tooltip-right" data-tooltip="Ready to leave? :(">Logout</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="header">
      <span class="label"><strong><a>{{loggedUserName}}</a></strong></span>
      <span class="pipe"></span>
      &nbsp;<span class="label">Dashboard</span>
      <div class="menu">
        <a class="faux wiggle-bug tooltip-bottom" data-tooltip="Report Bugs or Concerns." title="Report a Bug"><span
          class="bug"></span></a>
        <a>Support</a>
      </div>
    </div>
    <div class="main">
      <div class="widget totals">
        <h4 class="widget-title"><span data-tooltip="Analytical information about your profiling completion.">Profiling Completion Analysis</span>
          <a href="#" class="tooltip-left button" data-tooltip="Attempt to reload Analytical data.">Reload Data</a></h4>
        <div class="widget-content text-center">
          <div class="chart quarter">
            <span class="label">General</span><br/><br/>
            <div *ngIf="profiling.length > 0">
              <h2>100%</h2>
            </div>
            <div *ngIf="profiling.length === 0">
              <h2>0%</h2>
            </div>
          </div>
          <div class="chart quarter">
            <span class="label">Incomes/Liabilities</span><br/><br/>
            <div *ngIf="incomes.length > 0">
              <h2>100%</h2>
            </div>
            <div *ngIf="incomes.length === 0">
              <h2>0%</h2>
            </div>
          </div>
          <div class="chart quarter">
            <span class="label">Real Estates</span>
            <br/><br/>
            <div *ngIf="estates.length === 0">
              <h2>0%</h2>
            </div>
            <div *ngIf="estates.length > 0">
              <h2>100%</h2>
            </div>
          </div>
          <div class="chart quarter">
            <span class="label">Companies</span><br/><br/>
            <div *ngIf="companies.length === 0">
              <h2>0%</h2>
            </div>
            <div *ngIf="companies.length > 0">
              <h2>100%</h2>
            </div>
          </div>
        </div>
      </div>

      <ngb-tabset>
        <!-- Estates Tab !-->
        <ngb-tab title="Estates">
          <ng-template ngbTabContent>
            <ng-container *ngFor="let index of estates">
              <div class="widget half local">
                <div class="widget-content">
                  <div class="width-graph">
                    <h4>Estate Name:{{index.estateName}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Estate Description:{{index.estateDescription}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Estate Type:{{index.estateType}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Estate Value:{{index.estateValue}}</h4>
                  </div>
                  <div style="clear:both;"></div>
                  <div class="traverse text-center">
                    <button class="btn btn-primary" style="width: 40%; float:left" (click)="open(update_estate); selectedEstate=index;"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" style="width: 40%; float:right" (click)="open(delete_estate); selectedEstate=index;"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <br>
              </div>
            </ng-container>
            <ng-template #update_estate let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-update-liability">Update Liability</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">

                  <!-- Estate Name !-->
                  <div class="md-form form-group mt-5">
                    <label for="estateName">Estate Name *</label>
                    <input type="text" class="form-control" id="estateName" value="{{selectedEstate.estateName}}"
                           [(ngModel)]="selectedEstate.estateName" name="estateName">
                  </div>

                  <!-- Estate Description !-->
                  <div class="md-form form-group mt-5">
                    <label for="estateDescription">Estate Description</label>
                    <input type="text" class="form-control" id="estateDescription" value="{{selectedEstate.estateDescription}}"
                           [(ngModel)]="selectedEstate.estateName" name="estateDescription">
                  </div>

                  <!-- Estate Type !-->
                  <div class="md-form form-group mt-5">
                    <label for="estateType">Estate Type *</label>
                    <input type="text" class="form-control" id="estateType" value="{{selectedEstate.estateType}}"
                           [(ngModel)]="selectedEstate.estateType" name="estateType">
                  </div>

                  <!-- Estate Value !-->
                  <div class="md-form form-group mt-5">
                    <label for="estateValue">Estate Value *</label>
                    <input type="text" class="form-control" id="estateValue" value="{{selectedEstate.estateValue}}" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                           [(ngModel)]="selectedEstate.estateValue" name="estateValue">
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width: 100%;"
                        (click)="updateEstate(selectedEstate.estateId)"><i class="fa fa-edit"></i>
                </button>
              </div>

              <br>
              <ngb-alert *ngIf="updateEstateRequestResponse.responseCode == 200" type="success"
                         (close)="updateEstateRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
              <ngb-alert
                *ngIf="updateEstateRequestResponse.responseCode != 200 && updateEstateRequestResponse.responseCode > 0"
                type="danger"
                (close)="updateEstateRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
            </ng-template>

            <ng-template #delete_estate let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-delete-liability">Delete Estate</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <h3>Are you sure you want to delete this estate?</h3>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="width: 100%;"
                        (click)="deleteEstate(selectedEstate.estateId)"><i class="fa fa-trash"></i>
                </button>
              </div>
            </ng-template>

          </ng-template>
        </ngb-tab>

        <!-- Companies Tab !-->
        <ngb-tab title="Companies">
          <ng-template ngbTabContent>
            <ng-container *ngFor="let index of companies">
              <div class="widget half local">
                <div class="widget-content">
                  <div class="width-graph">
                    <h4>Company Name:{{index.companyName}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Company Description:{{index.companyDescription}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Company Type:{{index.companyType}}</h4>
                  </div>
                  <div class="width-graph">
                    <h4>Company Revenue:{{index.companyRevenue}}</h4>
                  </div>
                  <div style="clear:both;"></div>
                  <div class="traverse text-center">
                    <button class="btn btn-primary" style="width: 40%; float:left" (click)="open(update_company); selectedCompany=index;"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" style="width: 40%; float:right" (click)="open(delete_company); selectedCompany=index;"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <br>
              </div>
            </ng-container>
            <ng-template #update_company let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-update-company">Update Company</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">

                  <!-- Company Name !-->
                  <div class="md-form form-group mt-5">
                    <label for="companyName">Company Name *</label>
                    <input type="text" class="form-control" id="companyName" value="{{selectedCompany.companyName}}"
                           [(ngModel)]="selectedCompany.companyName" name="companyName">
                  </div>

                  <!-- Company Description !-->
                  <div class="md-form form-group mt-5">
                    <label for="companyDescription">Company Description</label>
                    <input type="text" class="form-control" id="companyDescription" value="{{selectedCompany.companyDescription}}"
                           [(ngModel)]="selectedCompany.companyDescription" name="companyDescription">
                  </div>

                  <!-- Company Type !-->
                  <div class="md-form form-group mt-5">
                    <label for="companyType">Estate Type *</label>
                    <input type="text" class="form-control" id="companyType" value="{{selectedCompany.companyType}}"
                           [(ngModel)]="selectedCompany.companyType" name="companyType">
                  </div>

                  <!-- Company Revenue !-->
                  <div class="md-form form-group mt-5">
                    <label for="companyRevenue">Company Revenue *</label>
                    <input type="text" class="form-control" id="companyRevenue" value="{{selectedCompany.companyRevenue}}" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                           [(ngModel)]="selectedCompany.companyRevenue" name="companyRevenue">
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width: 100%;"
                        (click)="updateCompany(selectedCompany.idCompany)"><i class="fa fa-edit"></i>
                </button>
              </div>

              <br>
              <ngb-alert *ngIf="updateCompanyRequestResponse.responseCode == 200" type="success"
                         (close)="updateCompanyRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
              <ngb-alert
                *ngIf="updateCompanyRequestResponse.responseCode != 200 && updateCompanyRequestResponse.responseCode > 0"
                type="danger"
                (close)="updateCompanyRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
            </ng-template>

            <ng-template #delete_company let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-delete-company">Delete Company</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <div class="input-group">
                    <h3>Are you sure you want to delete this company?</h3>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="width: 100%;"
                        (click)="deleteCompany(selectedCompany.idCompany)"><i class="fa fa-trash"></i>
                </button>
              </div>
            </ng-template>

          </ng-template>
        </ngb-tab>


        <ngb-tab title="Add Estate/Company">
          <div *ngIf="profiling.length > 0">
            <ng-template ngbTabContent>
              <br>
              <button type="button" (click)="open(add_estate)" class="btn btn-primary"><i class="fa fa-plus"> Add Estate</i></button>
              <br>
              <br>
              <button type="button" (click)="open(add_company)" class="btn btn-primary"><i class="fa fa-plus"> Add Company</i></button>
            </ng-template>
          </div>
          <div *ngIf="profiling.length == 0">
            <ng-template ngbTabContent>
            <div class="alert alert-danger">
              You need to fill your general profiling first
            </div>
            </ng-template>
          </div>

          <ng-template #add_company let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-add">Add Company</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <!-- Company Name -->
                <div class="md-form form-group mt-5">
                  <label for="companyName">Company Name *</label>
                  <input type="text" class="form-control" id="companyNameAdd" [(ngModel)]="companyNameAdd">
                </div>

                <!-- Company Description -->
                <div class="md-form form-group mt-5">
                  <label for="companyDescription">Company Description</label>
                  <input type="text" class="form-control" id="companyDescriptionAdd" [(ngModel)]="companyDescriptionAdd">
                </div>

                <!-- Company Type -->
                <div class="md-form form-group mt-5">
                  <label for="companyType">Company Type</label>
                  <input type="text" class="form-control" id="companyTypeAdd" [(ngModel)]="companyTypeAdd">
                </div>

                <!-- Company Revenue -->
                <div class="md-form form-group mt-5">
                  <label for="companyRevenue">Company Revenue</label>
                  <input type="text" class="form-control" id="companyRevenueAdd" [(ngModel)]="companyRevenueAdd" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" style="width: 100%;"
                      (click)="addCompany()"><i class="fa fa-save"></i>
              </button>
            </div>

            <ngb-alert
              *ngIf="addCompanyRequestResponse.responseCode != 200 && addCompanyRequestResponse.responseCode > 0"
              type="danger"
              (close)="addCompanyRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
          </ng-template>

          <ng-template #add_estate let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-add-liability">Add Liability</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">

                <!-- Estate Name !-->
                <div class="md-form form-group mt-5">
                  <label for="estateName">Estate Name *</label>
                  <input type="text" class="form-control" id="estateNameAdd" [(ngModel)]="estateName"  />
                </div>

                <!-- Estate Description !-->
                <div class="md-form form-group mt-5">
                  <label for="estateDescription">Estate Description</label>
                  <input type="text" class="form-control" id="estateDescriptionAdd"
                         [(ngModel)]="estateDescription">
                </div>

                <!-- Estate Type !-->
                <div class="md-form form-group mt-5">
                  <label for="estateType">Estate Type *</label>
                  <input type="text" class="form-control" id="estateTypeAdd"
                         [(ngModel)]="estateType">
                </div>

                <!-- Estate Value !-->
                <div class="md-form form-group mt-5">
                  <label for="estateValue">Estate Value *</label>
                  <input type="text" class="form-control" id="estateValueAdd"
                         [(ngModel)]="estateValue" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" style="width: 100%;"
                      (click)="addEstate()"><i class="fa fa-save"></i>
              </button>
            </div>

            <ngb-alert
              *ngIf="addEstateRequestResponse.responseCode != 200 && addEstateRequestResponse.responseCode > 0"
              type="danger"
              (close)="addEstateRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
          </ng-template>

        </ngb-tab>

      </ngb-tabset>
    </div>
  </div>
</div>
