<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account details</title>
</head>
<body>
<table class="bookOfferContainer">
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.customerId}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.bankId}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.accountType}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.accountType}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.currentSold}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.loanAmount}}</td>
  </tr>
  <tr>
    <td class="sidePanel"><i class="fa fa-user"></i></td>
    <td class="information">{{selectedAccount.iban}}</td>
  </tr>
</table>
</body>
