<div class="container">
  <div class="sidebar">
    <ul>
      <li class="logo">
        <a href="#">
          <img src="https://cdn4.iconfinder.com/data/icons/top-search-3/128/_Bank_bank_account_banking_-128.png" />
        </a>
      <li>
      <li class="current">
        <a href="#">Home</a>
      </li>

      <li class="admin">
        <a href="#" title="admin-only" class="tooltip-right" data-tooltip="Only available when you completed all the profiling sections"><span class="lock"></span> My Objectives</a>
      </li>

      <li class="spacer">Profiling<div class="hr"></div></li>
      <li class="has-children">
        <a href="#">Fill your profile</a>
        <ul class="sub-menu">
          <li>
            <a href="#">General profiling</a>
          </li>
          <li>
            <a href="/income">Incomes/Liabilities</a>
          </li>
          <li>
            <a href="/estates">Estates/Companies</a>
          </li>
        </ul>
      </li>

      <li class="spacer">Statistics<div class="hr"></div></li>
      <li class="has-children">
        <a href="/statistics">Review Account Statistics</a>
      </li>
      <li class="has-children">
      </li>
      <li class="has-children">
        <a href="#">Financial Instruments</a>
        <ul class="sub-menu">
          <li>
            <a href="#">Stocks</a>
          </li>
          <li>
            <a href="#">Forex</a>
          </li>
          <li>
            <a href="#">Cryptocurrencies</a>
          </li>
        </ul>
      </li>
      <li class="spacer"><div class="hr"></div></li>
      <li>
        <a href="#" class="tooltip-right" data-tooltip="Ready to leave? :(">Logout</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="header">
      <span class="label"><strong><a>{{loggedUserName}}</a></strong></span>
      <span class="pipe"></span>
      &nbsp;<span class="label">Dashboard</span>
      <div class="menu">
        <a class="faux wiggle-bug tooltip-bottom" data-tooltip="Report Bugs or Concerns." title="Report a Bug"><span class="bug"></span></a>
        <a>Support</a>
      </div>
    </div>
    <div class="main">
      <div class="widget totals">
        <h4 class="widget-title"><span data-tooltip="Analytical information about your profiling completion.">Profiling Completion Analysis</span> <a href="#" class="tooltip-left button" data-tooltip="Attempt to reload Analytical data.">Reload Data</a></h4>
        <div class="widget-content text-center">
          <div class="chart quarter">
            <span class="label">General</span><br /><br />
            <h2>0%</h2>
          </div>
          <div class="chart quarter">
            <span class="label">Incomes/Liabilities</span><br /><br />
            <div *ngIf="incomes.length > 0">
              <h2>100%</h2>
            </div>
            <div *ngIf="incomes.length === 0">
              <h2>0%</h2>
            </div>
          </div>
          <div class="chart quarter">
            <span class="label">Real Estates</span>
            <br /><br />
            <div *ngIf="estates.length === 0">
              <h2>0%</h2>
            </div>
            <div *ngIf="estates.length > 0">
              <h2>100%</h2>
            </div>
          </div>
          <div class="chart quarter">
            <span class="label">Companies</span><br /><br />
            <div *ngIf="companies.length === 0">
              <h2>0%</h2>
            </div>
            <div *ngIf="companies.length > 0">
              <h2>100%</h2>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="profiling.length > 0">
      <ng-container *ngFor="let index of profiling">
          <p-panel>
            <p-header> {{loggedUserName}} profiling
              <button type="button" class="btn btn-info" (click)="currentProfiling=index;"
                      style="width: 10%; float: right;"><i class="fas fa-retweet"></i></button>
            </p-header>
            <div class="ui-g ui-fluid">
              <!-- Profession -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-briefcase"></i></span>
                  <input type="text" pInputText placeholder="Profession" [(ngModel)]="currentProfiling.profession">
                </div>
              </div>

              <!-- Residence City -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-address-book"></i></span>
                  <input type="text" pInputText placeholder="Residence City" [(ngModel)]="currentProfiling.residenceCity">
                </div>
              </div>

              <!-- Residence Province -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-address-book"></i></span>
                  <input type="text" pInputText placeholder="Residence Province" [(ngModel)]="currentProfiling.residenceProvince">
                </div>
              </div>

              <!-- Work Segment -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-building"></i></span>
                  <input type="text" pInputText placeholder="Work Segment" [(ngModel)]="currentProfiling.workSegment">
                </div>
              </div>

              <!-- Current Job -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-briefcase"></i></span>
                  <input type="text" pInputText placeholder="Current Job" [(ngModel)]="currentProfiling.currentJob">
                </div>
              </div>

              <!-- Birth City -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
                  <input type="text" pInputText placeholder="Birth City" [(ngModel)]="currentProfiling.birthCity">
                </div>
              </div>

              <!-- Birth Province -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
                  <input type="text" pInputText placeholder="Birth Residence" [(ngModel)]="currentProfiling.birthResidence">
                </div>
              </div>

              <!-- Gender -->
              <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-venus-mars"></i></span>
                  <input type="text" pInputText placeholder="Gender" [(ngModel)]="currentProfiling.gender">
                </div>
              </div>
              <br/>
              <br/>
              <button type="button" class="btn btn-primary" (click)="updateProfiling(index.idProfiling)"
                      style="width: 100%;"><i class="fa fa-edit"></i></button>

              <ngb-alert *ngIf="updateProfilingRequestResponse.responseCode == 200" type="success"
                         (close)="updateProfilingRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
              <ngb-alert
                *ngIf="updateProfilingRequestResponse.responseCode != 200 && updateProfilingRequestResponse.responseCode > 0"
                type="danger"
                (close)="updateProfilingRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>

            </div>
          </p-panel>
      </ng-container>
      </div>

      <!-- Render this only if the customer has no profiling -->
      <div *ngIf="profiling.length === 0">
        <p-panel>
          <p-header> {{loggedUserName}} profiling </p-header>
          <div class="ui-g ui-fluid">
            <!-- Profession -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-briefcase"></i></span>
                <input type="text" pInputText placeholder="Profession" [(ngModel)]="profession">
              </div>
            </div>

            <!-- Residence City -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" pInputText placeholder="Residence City" [(ngModel)]="residenceCity">
              </div>
            </div>

            <!-- Residence Province -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" pInputText placeholder="Residence Province" [(ngModel)]="residenceProvince">
              </div>
            </div>

            <!-- Work Segment -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-building"></i></span>
                <input type="text" pInputText placeholder="Work Segment" [(ngModel)]="workSegment">
              </div>
            </div>

            <!-- Current Job -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-briefcase"></i></span>
                <input type="text" pInputText placeholder="Current Job" [(ngModel)]="currentJob">
              </div>
            </div>

            <!-- Birth City -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
                <input type="text" pInputText placeholder="Birth City" [(ngModel)]="birthCity">
              </div>
            </div>

            <!-- Birth Province -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-birthday-cake"></i></span>
                <input type="text" pInputText placeholder="Birth Residence" [(ngModel)]="birthResidence">
              </div>
            </div>

            <!-- Gender -->
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-venus-mars"></i></span>
                <input type="text" pInputText placeholder="Gender" [(ngModel)]="gender">
              </div>
            </div>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" (click)="addProfiling()"
                    style="width: 100%;"><i class="fa fa-edit"></i></button>
          </div>
        </p-panel>
      </div>


    </div>
  </div>
</div>
