<div class="container">
  <div class="sidebar">
    <ul>
      <li class="logo">
        <a href="#">
          <img src="https://cdn4.iconfinder.com/data/icons/top-search-3/128/_Bank_bank_account_banking_-128.png"/>
        </a>
      <li>
      <li class="current">
        <a href="#">Home</a>
      </li>

      <li class="admin">
        <a href="#" title="admin-only" class="tooltip-right"
           data-tooltip="Only available when you completed all the profiling sections"><span class="lock"></span> My
          Objectives</a>
      </li>

      <li class="spacer">Profiling
        <div class="hr"></div>
      </li>
      <li class="has-children">
        <a href="#">Fill your profile</a>
        <ul class="sub-menu">
          <li>
            <a href="#">General profiling</a>
          </li>
          <li>
            <a href="/income">Incomes/Liabilities</a>
          </li>
          <li>
            <a href="#">Estates</a>
          </li>
          <li>
            <a href="#">Companies</a>
          </li>
        </ul>
      </li>

      <li class="spacer">Statistics
        <div class="hr"></div>
      </li>
      <li class="has-children">
        <a href="#">Review Account Statistics</a>
      </li>
      <li class="has-children">
      </li>
      <li class="has-children">
        <a href="#">Financial Instruments</a>
        <ul class="sub-menu">
          <li>
            <a href="#">Stocks</a>
          </li>
          <li>
            <a href="#">Forex</a>
          </li>
          <li>
            <a href="#">Cryptocurrencies</a>
          </li>
        </ul>
      </li>
      <li class="spacer">
        <div class="hr"></div>
      </li>
      <li>
        <a href="#" class="tooltip-right" data-tooltip="Ready to leave? :(">Logout</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="header">
      <span class="label"><strong><a>{{loggedUserName}}</a></strong></span>
      <span class="pipe"></span>
      &nbsp;<span class="label">Dashboard</span>
      <div class="menu">
        <a class="faux wiggle-bug tooltip-bottom" data-tooltip="Report Bugs or Concerns." title="Report a Bug"><span
          class="bug"></span></a>
        <a>Support</a>
      </div>
    </div>
    <div class="main">
      <div class="widget totals">
        <h4 class="widget-title"><span data-tooltip="Analytical information about your profiling completion.">Profiling Completion Analysis</span>
          <a href="#" class="tooltip-left button" data-tooltip="Attempt to reload Analytical data.">Reload Data</a></h4>
        <div class="widget-content text-center">
          <div class="chart quarter">
            <span class="label">General</span><br/><br/>
            <h2>0%</h2>
          </div>
          <div class="chart quarter">
            <span class="label">Incomes/Liabilities</span><br/><br/>
            <h2>0%</h2>
          </div>
          <div class="chart quarter">
            <span class="label">Real Estates</span>
            <br/><br/>
            <h2>0%</h2>
          </div>
          <div class="chart quarter">
            <span class="label">Companies</span><br/><br/>
            <h2>0%</h2>
          </div>
        </div>
      </div>

      <ngb-tabset>
        <ngb-tab title="Income">
          <ng-template ngbTabContent>
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
              <ng-container *ngFor="let index of incomes">
                <ngb-panel id="static-1" type="secondary">
                  <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex p-2" style="font-weight: bold; color: #1c2128;">{{index.incomeSource}}</div>
                      <div class="d-flex p-2"><i class="material-icons">arrow_drop_down</i></div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <!-- Income Amount !-->
                    <div class="md-form form-group mt-5">
                      <label for="incomeAmount">Income amount *</label>
                      <input type="text" class="form-control" id="incomeAmount" ngModel="{{index.incomeAmount}}"
                             [(ngModel)]="incomeAmount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                    </div>

                    <!-- Income source -->
                    <div class="md-form form-group mt-5">
                      <label for="formGroupExampleInputIncomeSourceMD">Income Source *</label>
                      <input type="text" class="form-control" id="formGroupExampleInputIncomeSourceMD"
                             placeholder="Example input" ngModel="{{index.incomeSource}}" [(ngModel)]="incomeSource">
                    </div>

                    <!-- Compressible Costs -->
                    <div class="md-form form-group mt-5">
                      <label for="formGroupExampleInputMDCompressible">Compressible Costs</label>
                      <input type="text" class="form-control" id="formGroupExampleInputMDCompressible"
                             placeholder="Example input" ngModel="{{index.compressibleCosts}}"
                             [(ngModel)]="compressibleCosts" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                    </div>

                    <!-- Non Compressible Costs -->
                    <div class="md-form form-group mt-5">
                      <label for="formGroupExampleInputMDNonCompressible">Non Compressible Costs</label>
                      <input type="text" class="form-control" id="formGroupExampleInputMDNonCompressible"
                             placeholder="Example input" ngModel="{{index.nonCompressibleCosts}}"
                             [(ngModel)]="nonCompressibleCosts" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                    </div>

                    <br>
                    <ngb-alert *ngIf="updateIncomeRequestResponse.responseCode == 200" type="success"
                               (close)="updateIncomeRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
                    <ngb-alert
                      *ngIf="updateIncomeRequestResponse.responseCode != 200 && updateIncomeRequestResponse.responseCode > 0"
                      type="danger"
                      (close)="updateIncomeRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>

                    <button class="btn btn-success" style="width: 40%; float:left"
                            (click)="updateIncome(index.idFinancialIncome)"><i class="fa fa-save"></i>
                    </button>
                    <button class="btn btn-danger" style="width: 40%; float:right" (click)="open(content)"><i class="fa fa-trash"></i>
                    </button>

                  </ng-template>
                </ngb-panel>

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Delete Income</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="commentContent">Content</label>
                      <div class="input-group">
                        <h3>Are you sure you want to delete this income?</h3>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="width: 100%;"
                            (click)="deleteIncome(index.idFinancialIncome)"><i class="fa fa-trash"></i>
                    </button>
                  </div>
                </ng-template>

              </ng-container>
            </ngb-accordion>
          </ng-template>
        </ngb-tab>


        <ngb-tab title="Liabilities">
          <ng-template ngbTabContent>
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
              <ng-container *ngFor="let index of liabilities">
                <ngb-panel id="static-70" type="secondary">
                  <ng-template ngbPanelTitle>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex p-2" style="font-weight: bold; color: #1c2128;">Open</div>
                      <div class="d-flex p-2"><i class="material-icons">arrow_drop_down</i></div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                      <!-- Liabilities Amount -->
                      <div class="md-form form-group mt-5">
                        <label for="liabilitiesAmount">Liabilities Amount *</label>
                        <input type="text" class="form-control" id="liabilitiesAmount" ngModel="{{index.liabilitiesAmount}}" [(ngModel)]="liabilitiesAmount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                      </div>

                      <!-- Liability source-->
                      <div class="md-form form-group mt-5">
                        <label for="liabilitySource">Liability Source</label>
                        <input type="text" class="form-control" id="liabilitySource" ngModel="{{index.liabilitiesSource}}" [(ngModel)]="liabilitiesSource">
                      </div>

                    <br>
                    <ngb-alert *ngIf="updateLiabilityRequestResponse.responseCode == 200" type="success"
                               (close)="updateLiabilityRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
                    <ngb-alert
                      *ngIf="updateLiabilityRequestResponse.responseCode != 200 && updateLiabilityRequestResponse.responseCode > 0"
                      type="danger"
                      (close)="updateLiabilityRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>

                    <button class="btn btn-success" style="width: 40%; float:left"
                            (click)="updateLiability(index.idFinancialLiability)"><i class="fa fa-save"></i>
                    </button>
                    <button class="btn btn-danger" style="width: 40%; float:right" (click)="open(content_liability)"><i class="fa fa-trash"></i>
                    </button>

                  </ng-template>
                </ngb-panel>

                <ng-template #content_liability let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title-delete">Delete Liability</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="input-group">
                        <h3>Are you sure you want to delete this liability?</h3>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="width: 100%;"
                            (click)="deleteLiability(index.idFinancialLiability)"><i class="fa fa-trash"></i>
                    </button>
                  </div>
                </ng-template>

              </ng-container>
            </ngb-accordion>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Add Liability/Income">
          <ng-template ngbTabContent>
            <br>
            <button type="button" (click)="open(add_liability)" class="btn btn-primary"><i class="fa fa-plus"> Add Liability</i></button>
            <br>
            <br>
            <button type="button" (click)="open(add_income)" class="btn btn-primary"><i class="fa fa-plus"> Add Income</i></button>
          </ng-template>

          <ng-template #add_income let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-add">Add Income</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <div class="md-form form-group mt-5">
                  <label for="incomeAmountAdd">Income amount *</label>
                  <input type="text" class="form-control" id="incomeAmountAdd"
                         [(ngModel)]="incomeAmount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <!-- Income source -->
                <div class="md-form form-group mt-5">
                  <label for="incomeSourceAdd">Income Source *</label>
                  <input type="text" class="form-control" id="incomeSourceAdd"
                         placeholder="Example input"  [(ngModel)]="incomeSource">
                </div>

                <!-- Compressible Costs -->
                <div class="md-form form-group mt-5">
                  <label for="compressibleCostsAdd">Compressible Costs</label>
                  <input type="text" class="form-control" id="compressibleCostsAdd"
                         placeholder="Example input"
                         [(ngModel)]="compressibleCosts" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <!-- Non Compressible Costs -->
                <div class="md-form form-group mt-5">
                  <label for="nonCompressibleAdd">Non Compressible Costs</label>
                  <input type="text" class="form-control" id="nonCompressibleAdd"
                         placeholder="Example input"
                         [(ngModel)]="nonCompressibleCosts" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" style="width: 100%;"
                      (click)="addIncome()"><i class="fa fa-save"></i>
              </button>
            </div>

            <ngb-alert
              *ngIf="addIncomeRequestResponse.responseCode != 200 && addIncomeRequestResponse.responseCode > 0"
              type="danger"
              (close)="addIncomeRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
          </ng-template>

          <ng-template #add_liability let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-add-liability">Add Liability</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group">

                <!-- Liabilities amount -->
                <div class="md-form form-group mt-5">
                  <label for="liabilitiesAmountAdd">Liabilities Amount *</label>
                  <input type="text" class="form-control" id="liabilitiesAmountAdd"
                         [(ngModel)]="liabilitiesAmount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <!-- Liabilities source -->
                <div class="md-form form-group mt-5">
                  <label for="liabilitiesSourceAdd">Liabilities Source *</label>
                  <input type="text" class="form-control" id="liabilitiesSourceAdd"
                         placeholder="Example input"  [(ngModel)]="liabilitiesSource">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" style="width: 100%;"
                      (click)="addLiability()"><i class="fa fa-save"></i>
              </button>
            </div>

            <ngb-alert
              *ngIf="addLiabilityRequestResponse.responseCode != 200 && addLiabilityRequestResponse.responseCode > 0"
              type="danger"
              (close)="addLiabilityRequestResponse.responseCode = 0">  {{requestResponseMessage}} </ngb-alert>
          </ng-template>

        </ngb-tab>

      </ngb-tabset>

    </div>
  </div>
</div>
