<html>
<head>
  <div class="filler"></div>
  <title>
    <div class="filler"></div>
  </title>
</head>
<body>
<form>
  <h1>Salut</h1>

  <div class="contentform">
    <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


    <div class="leftcontact">
      <div class="form-group">
        <p>Surname<span>*</span></p>
        <span class="icon-case"><i class="fa fa-male"></i></span>
        <input type="text" name="nom" id="nom" data-rule="required" disabled="true" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Name <span>*</span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
        <input type="text" name="prenom" id="prenom" data-rule="required" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Birth date<span>*</span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
        <input type="text" name="prenom" id="prenom" data-rule="required" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Profession <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <input type="email" name="email" id="email" data-rule="email" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Ocupation <span>*</span></p>
        <span class="icon-case"><i class="fa fa-home"></i></span>
        <input type="text" name="society" id="society" data-rule="required" />
        <div class="validation"></div>
      </div>



    </div>

    <div class="rightcontact">

      <div class="form-group">
        <p>Birth City <span>*</span></p>
        <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
        <input type="text" name="adresse" id="adresse" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Birth Residence<span>*</span></p>
        <span class="icon-case"><i class="fa fa-map-marker"></i></span>
        <input type="text" name="postal" id="postal" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>City <span>*</span></p>
        <span class="icon-case"><i class="fa fa-building-o"></i></span>
        <input type="text" name="ville" id="ville" data-rule="required" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Residence<span>*</span></p>
        <span class="icon-case"><i class="fa fa-building-o"></i></span>
        <input type="text" name="ville" id="ville" data-rule="required" value="Salut"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Function <span>*</span></p>
        <span class="icon-case"><i class="fa fa-info"></i></span>
        <input type="text" name="fonction" id="fonction" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
        <div class="validation"></div>
      </div>

    </div>
  </div>
</form>

<div class="bottom">
  <button type="submit" class="bouton-contact">Proceed</button>
  <button type="submit" class="bouton-back">Back</button>
</div>


</body>
</html>
